frontend/*.iml
frontend/.gradle
frontend/local.properties
frontend/.idea/caches
frontend/.idea/libraries
frontend/.idea/modules.xml
frontend/.idea/workspace.xml
frontend/.idea/navEditor.xml
frontend/.idea/assetWizardSettings.xml
frontend/.DS_Store
frontend/build
frontend/captures
frontend/.externalNativeBuild
frontend/.cxx
frontend/local.properties


backend/backend_2/.env
backend/app_env/
backend/backend_2/__pycache__/